@model Icklekwik.Server.ViewModels.Wiki.SiteModel

﻿@if (!Model.IsPartialView)
 {
     Layout = "_Layout.cshtml";
 }

<h1>Hello SITE!</h1>

<ul>
@foreach (var pair in Model.SiteMap)
{
    <li>@pair.Item1 - @pair.Item2</li>
}
</ul>
